<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddout.fb.dao.fb.ISaveDataMapper">


	<select id="getEndMatchList" parameterType="map" resultType="map">
		select t1.* from t_match t1
		inner join v_season v1 on v1.id=t1.season_id
				where t1.score_result!='end'
		     and t1.score_result !='延期'
		     and t1.gameTime &lt;= DATE_FORMAT(NOW(),'%m-%d %T')
		ORDER BY t1.gameTime asc
	</select>
	<select id="queryCountryOne" parameterType="map" resultType="map">
		select * From t_country
		where 1=1
		<if test="null != region and '' != region">
			and region=#{region,jdbcType=VARCHAR}
		</if>
		<if test="null != matchName and '' != matchName">
			and matchName=#{matchName,jdbcType=VARCHAR}
		</if>
		<if test="null != matchInfoURI and '' != matchInfoURI">
			and matchInfoURI=#{matchInfoURI,jdbcType=VARCHAR}
		</if>
	</select>


	<select id="queryLeagueOne" parameterType="map" resultType="map">
		select * From t_league
		where 1=1
		<if test="null != countryId and '' != countryId">
			and country_id=#{countryId,jdbcType=VARCHAR}
		</if>
		<if test="null != leagueName and '' != leagueName">
			and leagueName=#{leagueName,jdbcType=VARCHAR}
		</if>
		<if test="null != leagueURI and '' != leagueURI">
			and leagueURI=#{leagueURI,jdbcType=VARCHAR}
		</if>
		<if test="null != region and '' != region">
			and region=#{region,jdbcType=VARCHAR}
		</if>
		<if test="null != matchName and '' != matchName">
			and matchName=#{matchName,jdbcType=VARCHAR}
		</if>
	</select>


	<select id="querySeasonOne" parameterType="map" resultType="map">
		select * From t_season
		where 1=1
		<if test="null != leagueId and '' != leagueId">
			and league_id=#{leagueId,jdbcType=VARCHAR}
		</if>
		<if test="null != seasonURI and '' != seasonURI">
			and seasonURI=#{seasonURI,jdbcType=VARCHAR}
		</if>
		<if test="null != seasonName and '' != seasonName">
			and seasonName=#{seasonName,jdbcType=VARCHAR}
		</if>
		<if test="null != region and '' != region">
			and region=#{region,jdbcType=VARCHAR}
		</if>
		<if test="null != matchName and '' != matchName">
			and matchName=#{matchName,jdbcType=VARCHAR}
		</if>
		<if test="null != leagueName and '' != leagueName">
			and leagueName=#{leagueName,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- -->
	<select id="queryTeamOne" parameterType="map" resultType="map">
		select * From t_team
		where 1=1
		<if test="null != countryId and '' != countryId">
			and country_id=#{countryId,jdbcType=VARCHAR}
		</if>
		<if test="null != leagueId and '' != leagueId">
			and league_id=#{leagueId,jdbcType=VARCHAR}
		</if>
		<if test="null != teamName and '' != teamName">
			and teamName=#{teamName,jdbcType=VARCHAR}
		</if>
		<if test="null != teamURI and '' != teamURI">
			and teamURI=#{teamURI,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="queryMatchOne" parameterType="map" resultType="map">
		select * From t_match
		where id=#{match_id,jdbcType=VARCHAR}

	</select>

	<!-- -->
	<insert id="saveCountry" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_country
		(region,matchName,matchInfoURI)
		values
		(#{region,jdbcType=VARCHAR},#{matchName,jdbcType=VARCHAR},#{matchInfoURI,jdbcType=VARCHAR})
	</insert>

	<insert id="saveLeague" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_league
		(country_id,leagueName,leagueURI,region,matchName)
		values
		(#{countryId,jdbcType=VARCHAR},#{leagueName,jdbcType=VARCHAR},#{leagueURI,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR},#{matchName,jdbcType=VARCHAR}
		)
	</insert>


	<insert id="saveSeason" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_season
		(region,matchName,leagueName,league_id,seasonURI,seasonName,seasonOrder)
		values
		(
		#{region,jdbcType=VARCHAR},#{matchName,jdbcType=VARCHAR},
		#{leagueName,jdbcType=VARCHAR},#{leagueId,jdbcType=NUMERIC},
		#{seasonURI,jdbcType=VARCHAR},#{seasonName,jdbcType=VARCHAR},
		#{seasonOrder,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="saveTeam" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_team
		(league_id,country_id,teamName,teamURI)
		values
		(
		#{leagueId,jdbcType=NUMERIC},
		#{countryId,jdbcType=NUMERIC},
		#{teamName,jdbcType=VARCHAR},
		#{teamURI,jdbcType=NUMERIC}
		)
	</insert>


	<insert id="saveSeasonTeam" parameterType="map"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_season_team
		(season_id,team_id)
		values
		(
		#{seasonId,jdbcType=NUMERIC},
		#{teamId,jdbcType=NUMERIC}
		)
	</insert>

	<insert id="saveMatch" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_match
		(
		id,season_id,
		infoURI,refererURI,
		gameTime,boxName,
		groupName,roundName,
		home_team,away_team,
		home_score,away_score,
		score_result,match_site,
		match_result,odds_info_URI,
		odds_info_3,odds_info_1,odds_info_0,
		region,matchName,leagueName,seasonName
		)
		values
		(
		#{match_id,jdbcType=VARCHAR},#{seasonId,jdbcType=NUMERIC},
		#{infoURI,jdbcType=VARCHAR},#{refererURI,jdbcType=VARCHAR},
		#{gameTime,jdbcType=VARCHAR},#{boxName,jdbcType=VARCHAR},
		#{groupName,jdbcType=VARCHAR},#{roundName,jdbcType=VARCHAR},
		#{home_team,jdbcType=VARCHAR},#{away_team,jdbcType=VARCHAR},
		#{home_score,jdbcType=VARCHAR},#{away_score,jdbcType=VARCHAR},
		#{score_result,jdbcType=VARCHAR},#{match_site,jdbcType=VARCHAR},
		#{match_result,jdbcType=VARCHAR},#{odds_info_URI,jdbcType=VARCHAR},
		#{odds_info_3,jdbcType=VARCHAR},#{odds_info_1,jdbcType=VARCHAR},
		#{odds_info_0,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR},#{matchName,jdbcType=VARCHAR},
		#{leagueName,jdbcType=VARCHAR},#{seasonName,jdbcType=VARCHAR}
		)
	</insert>

	<!-- -->
	<!-- -->
	<select id="queryAddsInfoOne" parameterType="map" resultType="map">
		select * From t_odds_info
		where match_id=#{matchId,jdbcType=VARCHAR}
		and makerID=#{makerID,jdbcType=VARCHAR}
	</select>
	<insert id="saveAddsInfo" parameterType="map" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_odds_info
		(
		match_id,makerID,companyName,providerName,
		payoff,
		start_home,start_draw,start_away,
		end_home,end_draw,end_away,
		radio_home,radio_draw,radio_away,
		kelly_home,kelly_draw,kelly_away
		)
		values
		(
		#{matchId,jdbcType=VARCHAR},#{makerID,jdbcType=VARCHAR},
		#{companyName,jdbcType=VARCHAR},#{providerName,jdbcType=VARCHAR},
		#{payoff,jdbcType=NUMERIC},
		#{start_home,jdbcType=NUMERIC},
		#{start_draw,jdbcType=NUMERIC}, #{start_away,jdbcType=NUMERIC},
		#{end_home,jdbcType=NUMERIC}, #{end_draw,jdbcType=NUMERIC},
		#{end_away,jdbcType=NUMERIC},
		#{radio_home,jdbcType=NUMERIC},
		#{radio_draw,jdbcType=NUMERIC}, #{radio_away,jdbcType=NUMERIC},
		#{kelly_home,jdbcType=NUMERIC}, #{kelly_draw,jdbcType=NUMERIC},
		#{kelly_away,jdbcType=NUMERIC}
		)
	</insert>

	<delete id="deleteMath" parameterType="string">
		delete from t_match
		where
		id=#{match_id}
	</delete>
	<delete id="deleteAddsInfo" parameterType="string">
		delete from t_odds_info
		where match_id=#{match_id}
	</delete>

	<!-- -->
	<select id="queryZucaiNoCount" parameterType="string"
		resultType="int">
		select count(1) from t_zucai_14
		where zucai_no=#{no}
	</select>
	<select id="queryZucaiMatchForOddsURI" parameterType="string"
		resultType="map">
		select * from t_match
		where odds_info_uri = #{odds_info_uri}
		limit 0,1
	</select>

	<select id="queryZucai14Match" parameterType="map" resultType="map">
		select * from t_zucai_14
		where match_id=#{match_id}
		and zucai_no=#{zucai_no}
	</select>

	<insert id="saveZucai14Match" parameterType="map"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_zucai_14
		(zucai_no,idx,end_time,leagueName,home_team,away_team,match_id,odds_info_uri,gameTime)
		values
		(
		#{zucai_no,jdbcType=VARCHAR},#{idx,jdbcType=NUMERIC},
		#{end_time,jdbcType=VARCHAR},#{leagueName,jdbcType=VARCHAR},
		#{home_team,jdbcType=VARCHAR},#{away_team,jdbcType=VARCHAR},
		#{match_id,jdbcType=VARCHAR},#{odds_info_uri,jdbcType=VARCHAR},
		#{gameTime,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateLastUpdateTime">
		update t_system_info
		set last_flush_time=date_format(now(),'%Y-%m-%d %T')
	</update>
</mapper>